body {
	font:13px arial,helvetica,clean,sans-serif;
	background-color: #EEEEFF;
}

.Shop_display_container  {
	width: 650px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 35px;
	background-color: white;
	padding: 4px;
}

 h1 {
	text-align: center;
	text-transform: uppercase;
	border: 2px double gray;
}

 .Product_display_stock {
	float: right;
	position: relative;
	top: -10px;
	right: 0px;
	background-color: #abcdef;
	font-weight: bold;
	spacing: 0px;
	padding: 8px;
	margin: 0px;
	margin-top: 5px;
}

 .Product_display_title  {
	background-color: #ABCDEF;
	padding: 4px;
	margin: 4px;
}

 .Product_display_attr {
 	position: relative;
	left: 25px;
}

 .Product_display_desc {
	font-family: times,serif;
	background-color: white;
}

 .Product_display_price {
	padding: 6px;
	font-weight: bold;
	font-size: 13px;
}

 .Shop_buy_button {
	float: right;
}

p.Product_cart_remove {
	text-align: center;
}


